<form class="mt-4" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Name"  formControlName="name" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Position</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Position" formControlName="position" >
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Office</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Office" formControlName="office">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Age</label>
    <input type="number" class="form-control" id="inputAddress2" placeholder="Age" formControlName="age">
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputCity">Start Date</label>
      <input type="date" class="form-control" id="date" [ngModel]="inpuValue | hero" name="inputDate" formControlName="start_date">
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Salary</label>
      <input type="text" class="form-control" id="inputCity"  placeholder="2000" formControlName="salary">
    </div>
</div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
