<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/dash/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dash/dashboard" routerLinkActive="active">Dashboard</a>
  </li>
</ul>
<div class="row">

    <div id="mySidenav" class="sidenav">
        <a class="nav-link active" routerLink="/dash/home" routerLinkActive="active" id="about">Home</a>
        <a class="nav-link" routerLink="/dash/dashboard" routerLinkActive="active" id="blog">Dashboard</a>
    </div>
</div>
